@using DocumentArchiver.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Document Archiver</title>
    @*Promise support for IE*@
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <environment include="Development">
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script asp-src-include="~/dist/Shared_*.js"></script>
    </environment>
    @*prod*@
    <environment exclude="Development">
        <script src="~/js/lib/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script asp-src-include="~/dist/Shared_*.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="env">@EnviromentHelper.EnvStr</span> Document Archiver</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
                @Html.Partial("_LoginNav")
            </div>
        </div>
    </nav>

    <div class="container-fluid top-buffer">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                @RenderBody()
            </div>
        </div>
    </div>
    @*toggle no footer*@
    @if (ViewBag.NoFooter != true)
    {
        <div class="panel-footer text-center container-fluid">
            <span>HD SAISON - @DateTime.Now.Year</span>
        </div>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
